@import url("global.css");

/* ===== CONTATO ===== */
.contato {
  padding: 60px 10%;
  text-align: center;
}

.contato h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #3d2849;
}
h3{
  font-size: 2rem;
  margin-bottom: 15px;
  
 
}

#gato2computador{
   align-items: center;
   position: absolute;
   left: 43.5%;
   width: 200px;
   height: 200px;
  margin-top: -30px;

 
} 

/* ===== FOOTER ===== */
footer {
  background: #3d2849;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 131px;
  font-size: 0.9rem;
}


/* Regras de Responsividade para Telas Pequenas */
@media (max-width: 768px) {
    .contato h2,
    h3 {
        font-size: 1.1rem; /* Diminui o tamanho da fonte para se adequar ao celular */
    }

    #gato2computador {
        position: absolute;
        left: 120px;
        width: 150px; /* Diminui a imagem do gatinho em telas menores */
        height: 150px;

    }

    footer {
        margin-top: 208px; /* Reduz a margem do footer para telas menores */
    }
}