@import url("global.css");

/* ===== APRESENTAÇÃO (Sobre Mim) ===== */
.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  background: linear-gradient(135deg, #ede7f6, #fff);
  gap: 40px;
}

.apresentacao_conteudo {
  max-width: 600px;
}

.apresentacao_conteudo_titulo {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.destaque {
  color: #3d2849;
}

.apresentacao_conteudo_texto {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.apresentacao_links {
  display: flex;
  gap: 15px;
}

.apresentacao_links_link {
  text-decoration: none;
  background: #3d2849;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s;
}

.apresentacao_links_link:hover {
  background: #5c3d6f;
}


#minhaImagem {
  width: 300px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  padding: 8px;
  background: #3d2849;
}


#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #3d2849;
  object-fit: cover;
  margin-right: 15px;
  /* box-shadow: 0 0 8px rgba(34, 212, 253, 0.6); */
}



/* ===== FOOTER ===== */
footer {
  background: #3d2849;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 69px;
  font-size: 0.9rem;
}


/* .gato {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 125px;
  height: 125px;
  background-image: url('gato.gif');
  background-size: contain;
  background-repeat: no-repeat;
  animation: andar 30s linear infinite;
} */

/*gato andando na tela*/
/* 
@keyframes andar {
  0% {
    left: -100px;
    bottom:20px;
    transform: scaleX(1);
  }

  25% {
    left: 100vw;
    bottom:20px;
    transform: scaleX(1); 
  }

  26% {
    bottom:300px;
    left:100vw;
    transform: scaleX(-1); 
  }


  50% {
    bottom:300px;
    transform: scaleX(-1);
    left: -100px; 
  }

  51% {
    bottom:600px;
    transform: scaleX(1);
    left: -100px; 
  }

  75%{
    bottom:600px;
    transform: scaleX(1);
    left:100vw;
  }

  76%{
    bottom:20px;
    left: 100vw;
    transform: scaleX(-1);
  }



  100% {
    left: -100px;
    bottom:20px;
    transform: scaleX(-1);
  }
}  */



