*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    box-sizing: border-box ;
    background-color: black;
    color: blanchedalmond;
}

.destaque{
    color:aqua;
}

.apresentacao{
    margin:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
}

.apresentacao_conteudo_texto{
    font-size: 24px;
}