@import url("global.css");

body {
  background-image: url(/img/Gemini_Generated_Image_m8mcgmm8mcgmm8mc.png);
  background-size: cover;   /* Faz a imagem cobrir a tela */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
  min-height: 100vh;
}

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #3d2849;
  object-fit: cover;
  margin-right: 15px;
  /* box-shadow: 0 0 8px rgba(34, 212, 253, 0.6); */
}

#bemVindo {
  width: 600px;
  height: 350px;
  /* box-shadow: 0 0 8px rgba(34, 212, 253, 0.6); */
}

/* ===== HOME ===== */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  text-align: center;
  padding: 50px 20px;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3d2849;
}

.home p {
  font-size: 1.2rem;
  color: #555;
   background: rgba(255, 255, 255, 0.6); /* mais suave */
}

.apresentacao_links {
  display: flex;
  justify-content: center; /* Centraliza na horizontal */
  gap: 15px;
  margin-top: -46px; /* Dá um espaço entre o texto e os botões */
}

.apresentacao_links_link {
  text-decoration: none;
  background: #3d2849;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s;
  text-align: center;
}

.apresentacao_links_link:hover {
  background: #5c3d6f;
}


/* ===== FOOTER ===== */
footer {
  background: #3d2849;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 81px;
  font-size: 0.9rem;
}


/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {

  .home{
    padding: 0;
    gap: 0;
  }

  .home p {
    font-size: 1rem;
  }

  #avatar {
    width: 40px;
    height: 40px;
  }

  #bemVindo {
    max-width: 50%;
   
  }

  .body{
    background-image: url(/img/Gemini_Generated_Image_m8mcgmm8mcgmm8mc.png);
    background-size:20%;   /* Faz a imagem cobrir a tela */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
 
  }

  .apresentacao_links_link {
    padding: 8px 15px;
    font-size: 0.9rem;
    max-width: 50%;
  }

  .apresentacao_links{
    align-items: center;
  
  }
}


@media (max-width: 480px) {
  .home {
    padding: 0;
    margin: 0;
  }

  img{
    margin: 0;
    padding:0;
  }

  #avatar {
    width: 35px;
    height: 35px;
  }

  #bemVindo {
    max-width: 100%;
  }

  .apresentacao_links {
    flex-direction: column;
    gap: 10px;
  }

  .apresentacao_links_link {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }
}

